<!DOCTYPE html>
<html>
<head>
	<title>Poke pOKE</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./public/stylesheet/main.css">
</head>
<body>

